{% load static %}
<html>
<!--Toutes les images de forêts ont été créées par BING generator, permettant de générer un set d'image suite a une requête descriptive.
Toutes les icônes viennes du site https://www.flaticon.com/, venant de différents artistes. 

Idée originale et conception du site appartenant à MONIER Maelle et GOUTTEBEL Pierre-Loïc sous Linux, Visual studio code, et Pycharm. 
Tout droits réservés. Applications web réalisée sous la tutelle de GONZALES Aitor, AIX-MARSEILLE UNIVERSITE.-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static  'allPageStyle.css' %}">
    <style>
        body {
            background-image: url("{% static image_path %}");
            background-size: 100% 100%;
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    </style>
{% block body %}
{% endblock %}
</body>
<footer>
    <p>&copy;2023 - Programmation web:complément - M2 DLAD - GOUTTEBEL Pierre-Loïc and MONIER Maëlle</p>
</footer>
</html>