{% extends "allHeadTemplated.html" %}
{% block body %}

<html>
<head>
    <title>Accueil</title>

</head>
<body>
        <form method="post" action="{% url 'enter_forest' %}">
        {% csrf_token %}

        <h1>Quelle forêt souhaitez-vous découvrir ?</h1>
        <select name="nom_foret">
            {% for foret in forets %}
                <option value="{{ foret}}">{{ foret}}</option>
            {% endfor %}
        </select>
        <button type="submit">Enregistrer</button>
    </form>
    <p><br/>Ceci est le projet de programmation web de Master 2 Bioinformatique de Gouttebel Pierre-Loic et Monier Maelle</p>
</body>
</html>
{% endblock %}


