{% extends "allHeadTemplated.html" %}
{% load static %}
{% block body %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'enter_forest.css' %}">
    <title>Choix d'une forêt</title>
</head>
<body>
  <header>
        <h1>Bienvenue sur notre gestionnaire d'écosystèmes forestiers !</h1>
            <a class="home-page-return" href="{% url 'home' %}" title="Retour à la présentation" >Retour</a>
            {% if user.is_authenticated %}
        <a class="login-link" href="{% url 'deconnexion' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}" title="Déconnexion" class="hidden">
        </a>
        {% else %}
        <a class="login-link" href="{% url 'connexion' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}" title="Espace garde" class="hidden">
        </a>
        {% endif %}

        </a>
    </header>
    <form method="post" action="{% url 'enter_forest' %}">
        {% csrf_token %}
        <h1>Quelle forêt souhaitez-vous découvrir ?</h1>
        <select name="nom_foret">
            {% for foret in forets %}
                <option value="{{ foret }}">{{ foret }}</option>
            {% endfor %}
        </select>
        <button type="submit" id="submit-button">Valider</button>
    </form>
{% endblock %}
