{% extends "allHeadTemplated.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static  'cssSubmit.css' %}">
<title>Merci !</title>
</head>
<header class="incident">

    <h1>Bienvenue dans la {{ nom_foret }}</h1>

</header>

<div class="container">
    <div class="center-content">
        <h1>Merci d'avoir rempli ce formulaire !</h1>
        <form action="{% url 'enter_forest' %}">
            <button type="submit">Retour au choix des forêts</button>
        </form>
    </div>
</div>
{% endblock %}