{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
    <title>Accueil de la {{ nom_foret }}</title>
</head>
<body>
    <header>

        <h1>{{ nom_foret }}</h1>
        <a class="forest-return" href="{% url 'enter_forest' %}">Changer de foret</a>
        <a class="login-link" href="{% url 'connexion' %}">Se connecter</a>
    </header>

    <section class="section-description">
        <h2> A propos : </h2>
        <p>{{ description }}</p>
    </section>

    <section id="photos">
        <h2><a href="#photos">Photos</a></h2>
        <!-- Contenu pour la section "Photos" -->
    </section>

    <section id="organismes">
        <h2><a href="{% url 'list_species' nom_foret=nom_foret %}">Organismes</a></h2>

    </section>

    <section id="signaler-incident">
        <h2><a href="{% url 'incident_form' %}">Signaler un Incident</a></h2>
        <!-- Formulaire pour signaler un incident -->
    </section>
{% endblock %}
