{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
<title>Gestionnaire de forêt</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur notre gestionnaire d'écosystèmes forestiers !</h1>
            {% if user.is_authenticated %}
        <a class="login-link" href="{% url 'deconnexion' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}" title="Déconnexion" class="hidden">
        </a>
        {% else %}
        <a class="login-link" href="{% url 'connexion' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}" title="Espace garde" class="hidden">
        </a>
        {% endif %}
        </a>
    </header>

    <section class="section-description">
        <h2>Que fait ce gestionnaire ?</h2>
        <p>
            Ce gestionnaire a deux objectifs bien distincts : le premier est d'informer et de renseigner
            les différentes espèces d'animaux ainsi que de végétaux présentes dans les forêts pour tous randonneurs, campeurs,
            chercheurs ...
            Le deuxième objectif est de recenser, classer des incidents qui peuvent survenir, tels que des incivilités, des feux etc.
            Ces incidents seront signalés aux différents gardes forestiers présents sur les sites. Ces derniers auront une liste de missions à réaliser, et un
            recensement de missions déjà effectuées, et une date sera également attachée à ces missions.
            
            Ce gestionnaire ne propose pas d'espace client, car pour le moment, cela ne répondait pas à un besoin. Il n'est cependant pas
            impossible que les besoins évoluent et qu'il soit développé dans l'avenir.
        </p>
    </section>

    <section class="section-description2">
        <h2>Pourquoi avoir fait ce gestionnaire ?</h2>
        <p>
            Aujourd'hui, les forêts sont de plus en plus rare. Par conséquent, il est interessant de se pencher sur un moyen de protection
            pour ces lieux qui nous permettent de vivre (En effet la majorité des plantes utilisent le procédé de la photosynthèse
            consommant ainsi du dioxyde de carbone, et produisant du dioxygène, nécéssaire pour notre survie.
            Ainsi, nous proposons un outil permettant de prévenir les incidents de forêts. Ainsi, on recense les gardes forestiers en activité, en leurs attribuant des missions,
            pour préserver les lieux.

            Si vous êtes un nouveau garde, vous pouvez envoyer une demande de création de compte, en renseignant les différents champs demandés. Après un entretien
            téléphonique avec l'un de nos admins, et les autres gardes forestiers en fonction, vous aurez votre propre espace, et votre propre forêt à gérer !
            Pour plus d'informations, merci d'envoyer un email aux administrateurs de ce site.
        </p>
    </section>
    <a href="{%  url 'enter_forest'  %}" class="enter-forest">C'est parti ! </a>
{% endblock %}