{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
<title>Gestionnaire de forêt</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur notre gestionnaire de forêt !</h1>
        <a class="login-link" href="{% url 'connexion' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}" title="Se connecter" class="hidden">
        </a>
    </header>

    <section class="section-description">
        <h2>Que fait ce gestionnaire ?</h2>
        <p>
            Ce gestionnaire a deux objectifs bien distinct : Le premier est d'informer et de renseigner 
            les différentes espèces d'animaux, et de végétaux présentes dans les forêt pour tous randonneurs, campeurs,
            chercheurs, bref, toutes personnes ayant besoin de se renseigner sur les espèces présentes dans une forêt donnée.
            Le deuxième objectif est de recenser, classer des incidents de forêts, pour ensuite les dispatcher entre les
            différentes garde forêts présent sur les sites. Ces derniers auront une liste de missions à effectuer, et un 
            recensement de missions déjà effectuée, et une date sera également attachée à ces missions.
            
            Ce gestionnaire ne propose pas d'espace client, car pour le moment, cela ne répondait pas à un besoin. Il n'est cependant pas
            impossible que les besoins évoluent et qu'un espace client soit développé dans l'avenir.
        </p>
    </section>

    <section class="section-description">
        <h2>Pourquoi avoir fait ce gestionnaire ?</h2>
        <p>
            Aujourd'hui, les forêts sont de plus en plus rare. Par conséquent, il est interessant de se pencher sur un moyen de protection
            pour ces lieux qui nous permettent de vivre (Puisque la majorité des plantes utilisent le procédé de la photosynthèse pour pouvoir 
            consomer du diocyde de carbone, et produire du dioxygène, nécéssaire pour survivre, étant donné qu'on respire du dioxygène toute notre vie.)
            Ainsi, nous proposont un outil afin de prévenir les incidents de forêts. Ainsi, on recenses les garde forêts en activité, en leurs attribuant des missions,
            pour préserver les différents lieux. 

            Si vous êtes un nouveau garde, vous pouvez envoyer une demande de création de compte, en reseignant les différents champs demandés. Après un entretiens
            téléphonique avec l'un de nos admins, et les autres garde forêts en fonction, vous aurez votre propre espace, et votre propre forêts à gérer ! 
            Pour plus d'infomation, merci d'envoyer un email aux administrateurs de ce site.
        </p>
    </section>
{% endblock %}