<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foret </title>
</head>
<body>
    <h1> Foret machin</h1>

    <form method="post">
        {% csrf_token %}
        <label for="choix">Sélectionnez une option :</label>
        <select id="choix" name="choix">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <button type="submit">Valider</button>
    </form>
</body>
</html>
