{% load static %}
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{% static  'css/formStyle.css' %}">
            <title>Formulaire d'incident!</title>
        </head>
        <body>
          <h1>Describe the incident</h1>
              <h3>Veuillez décrire l'incident que vous avez vus, et indiquer le lieu en question.</h3>
              <form method="POST">{% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Enregistrer l'incident</button>
              <p>Merci de votre vigilance !</p>
              </form>
        </body>
    </html>