{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
<title>{{title_page}}</title>
<link rel="stylesheet" type="text/css" href="{% static 'allPageStyle.css' %}">
</head>

<header class="incident">
     <a class="home-page-return" href="{% url 'forestSelected' nom_foret=nom_foret %}">Retour</a>
    <h1>Bienvenue dans la {{ nom_foret }}</h1>

</header>

    <body>

              <form method="POST">{% csrf_token %}

              <h2>{{description_form}}</h2>
              {{ form.as_p }}
              <button type="submit">Enregistrer</button>
              <p>Merci !</p>
              </form>
{% endblock %}