
{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'oneSpecie.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{oneSpecies}}</title>

</head>
<body>
    <header>
        <a href="{%  url 'list_species' nom_foret=nom_foret  %}" class="return-button">Retour aux espèces</a>
    </header>
    <div class="container">
        <div class="image-description">
            <img src="{% static '/organism_pic/'|add:oneSpecies|add:'.jpg' %}" alt="Image de l'organisme">

            <h1>{{oneSpecies}}</h1>
            <h2>{{nutrition}}</h2>
            <p>{{description}}</p>
           <div class="species-count">
               Il existe {{nombre_organisme}} espèces de {{oneSpecies}} dans la {{nom_foret}} au dernier recensement. </span>
            </div>


        </div>
    </div>
</body>
{% endblock %}
