{% extends "allHeadTemplated.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static  'table.css' %}">
<title>List d'espèce de {{foret}}</title>
</head>
<body>
<div class="container">
    <table>
        <thead>
            <th>Voici les espèces présentes dans la {{foret}}</th>
        </thead>
    
    
        {% for oneSpecie in species %}
        <tr>
            <td><button href="">{{oneSpecie}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
{% endblock %}