{% extends "allHeadTemplated.html" %}
{% load static %}
{% block body %}


<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
    <title>Liste d'espèces de {{ nom_foret }}</title>


</head>
<body>
<div class="container">
    <a class="home-page-return" href="{% url 'home_page' nom_foret=nom_foret %}">Retour</a>
    <table id="table_faune">
        <thead>
            <th>Voici les animauix présents dans la {{ nom_foret }}<img src="{% static 'renard.png' %}" style="width: 30px; height: 30px; margin-left: 10px;"></a></th>
        </thead>

        <tbody>
        {% for oneSpecie in faune_list %}
            <tr>
                <td><a class="button-link" href="{% url 'organism_info' nom_organisme=oneSpecie nom_foret=nom_foret %}" >{{ oneSpecie }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table id="table_flora">
        <thead>
            <th>Voici les végétaux présents dans la {{ nom_foret }}<img src="{% static 'fauneflore.png' %}" style="width: 30px; height: 30px; margin-left: 10px;"></a>
            </th>
        </thead>

        <tbody>
        {% for oneSpecie in flore_list %}
            <tr>
                <td><a class="button-link" href="{% url 'organism_info' nom_organisme=oneSpecie nom_foret=nom_foret %}" >{{ oneSpecie }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock %}
