{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
<html>
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Page de Connexion</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>Connexion</h1>

         <p> Si vous êtes un garde forestier, veuillez-vous authentifier : </p>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Se connecter">
    </form>
{% endblock %}
