{% extends "allHeadTemplated.html" %}
{% load static %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static  'missions.css' %}">
    <title>Missions</title>

</head>
<body>
 <header>
        <h1>Missions à effectuer dans la {{ nom_foret }}</h1>
        <a class="home-page-return" href="{% url 'forestSelected' nom_foret=nom_foret %}">Retour</a>
    </header>



<form  method="post" action="{% url 'update_mission_etat' nom_foret=nom_foret %}" >
    {% csrf_token %}
<table>
    <tr>
        <th>Description Mission</th>
        <th>État Mission</th>
    </tr>

    {% for mission in missions_list %}
        <tr>

            <td>{{ mission.description_mission }}</td>
            <td>{{ mission.etat_mission }}
              <input type="checkbox" id="mission_{{ mission.id_mission }}" name="mission" value="{{ mission.id_mission }}"
                    {% if mission.etat_mission == 'Terminé' %}checked{% endif %}>
                    <label for="mission_{{ mission.id_mission }}"></label>
            </td>

        </tr>
    {% endfor %}

</table>
     <button type="submit">Mettre à jour l'état </button>

</body>
</html>
{% endblock %}