{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
    <title>{{ nom_foret }}</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzqISK59scnOyIqLzi1ksnkJHgV8sYfRI&libraries=places"></script>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <h1>Bienvenue {{user.last_name}} dans la {{ nom_foret }} !</h1>
        {% else %}
        <h1>Bienvenue dans la {{ nom_foret }} ! </h1>
        {% endif %}
        <a class="forest-return" href="{% url 'enter_forest' %}" title="Choisir une autre forêt">Changer de foret</a>
        {% if user.is_authenticated %}
        <a class="login-link" href="{% url 'deconnexion' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}" title="Déconnexion" class="hidden">
        </a>
        {% else %}
        <a class="login-link" href="{% url 'connexion' %}">
            <img src="{% static 'Login_logos/Logo_off.png' %}">
            <img src="{% static 'Login_logos/Logo_on.png' %}" title="Espace garde" class="hidden">
        </a>
        {% endif %}
    </header>

    <section class="description">
        <h2> A propos : </h2>
        <p>{{ description }}</p>
        {% if not user.is_authenticated or id_garde != user.pk %}
        <p> Pour toutes informations sur la forêt, veuillez-vous adressez au :  </p>
        <p class="tel_garde">{{tel_garde}}</p>
        <p> ou à l'addresse mail suivante : </p>
        <p class="mail_garde"> {{mail_garde}}</p>
           {% endif %}
        {% if user.is_authenticated and id_garde == user.pk %}*
        <p> Vos informations :  </p>
        <p class="tel_garde"> Téléphone : {{tel_garde}}</p>
        <p class="mail_garde"> Mail : {{mail_garde}}</p>

       {% endif %}
    </section>



    <section id="photos">
        <h2><a href="{% url 'pictures' nom_foret=nom_foret %}"style="display: flex; align-items: center;">Photos
         <img src="{% static 'photo.png' %}" style="width: 40px; height: 40px; margin-left: 10px;"></a>
        </h2>
    </section>

    <section id="organismes">
        <h2><a href="{% url 'list_species' nom_foret=nom_foret %}" style="display: flex; align-items: center;">Faune et Flore
            <img src="{% static 'fauneflore.png' %}" style="width: 40px; height: 40px; margin-left: 10px;">
            <img src="{% static 'renard.png' %}" style="width: 40px; height: 40px; margin-left: 10px;"></a>
        </h2>
    </section>

    {% if not user.is_authenticated  or id_garde != user.pk %}
    <section id="signaler-incident">
        <h2>
            <a href="{% url 'incident_form' nom_foret=nom_foret %}" style="display: flex; align-items: center;">
            Signaler un Incident
            <img src="{% static 'attention.png' %}"style="width: 40px; height: 40px; margin-left: 10px;">
            </a>
        </h2>
    </section>
    {% endif %}

    {% if user.is_authenticated and id_garde == user.pk %}

    <section id="incidents">
        <h2>
            <a href="{% url 'incidents' nom_foret=nom_foret %}" style="display: flex; align-items: center;">
            Incidents
            <img src="{% static 'attention.png' %}"style="width: 40px; height: 40px; margin-left: 10px;">
            </a>
        </h2>
         <script src="{% static 'js/new_incident.js' %}"></script>
    </section>

    <section id="Mission">
        <h2>
            <a href="{% url 'missions' id_garde=id_garde nom_foret=nom_foret %}" style="display: flex; align-items: center;">
            Missions
            <img src="{% static 'copier-lecriture.png' %}" style="width: 40px; height: 40px; margin-left: 10px;">
            </a>
        </h2>
    </section>

    <section id="register">
        <h2>
            <a href="{% url 'register_species' nom_foret=nom_foret %}" style="display: flex; align-items: center;">
            Enregistrer une nouvelle espèce
            <img src="{% static 'happy-new-year.png' %}" style="width: 40px; height: 40px; margin-left: 10px;">
            </a>
        </h2>
    </section>
    {% endif %}

    <script src="{% static 'js/map.js' %}"></script>
    <script> var latitude = {{ latitude }};
        var longitude = {{ longitude }};
    </script>
    <div id="map" style="height: 200px; width: 40%; margin: 0 auto;"></div>
</body>
{% endblock %}
