{% extends "allHeadTemplated.html" %}
{% block body %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Pictures.css' %}">
    <title>{{nom_foret}}</title>
    <style>
        img {
            max-width: 60%; /* L'image ne dépassera pas la largeur de son conteneur (l'écran) */
            height: auto; /* La hauteur est automatiquement calculée pour conserver les proportions */
        }
    </style>
</head>
<body>
   <header>
        <h1>{{ nom_foret }}</h1>
        <a class="home-page-return" href="{% url 'home_page' nom_foret=nom_foret %}">Retour</a>

        </a>
   </header>

    <div class="slideshow-container">
        {% for image in image_list %}
            <div class="mySlides fade">
              <img src="{% static nom_foret|add:'/'|add:image %}" alt="{{ nom_foret }}">

            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/slidepictures.js' %}"></script>
</body>
</html>
{% endblock %}